<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641979161970-puiqv70b60m4eded159rehuur21biuut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641979161970-puiqv70b60m4eded159rehuur21biuut</string>
	<key>API_KEY</key>
	<string>AIzaSyCQGnFRx-eNln329wmL4-W2lZBDrus7DYg</string>
	<key>GCM_SENDER_ID</key>
	<string>641979161970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.edu.tdc.TroMoiOS</string>
	<key>PROJECT_ID</key>
	<string>fir-ios-2cb12</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-ios-2cb12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641979161970:ios:c0b6639ec1dc58763151eb</string>
</dict>
</plist>